$borderSize: 1px;
$borderColor: #c2c1c1;
$color: #eae9e9;


@mixin arrowBoxBefore($pos) {
    @if $pos == "right" or $pos == "left" {
        margin-top: -17px;
    }
    @else {
        margin-left: -17px;
    }

    @if $pos == "top" {
        border-bottom-color: $borderColor;
    }
    @else if $pos == "left" {
        border-right-color: $borderColor;
    }
    @else if $pos == "bottom" {
        border-top-color: $borderColor;
    }
    @else {
        border-left-color: $borderColor;
    }
}

@mixin arrowBoxAfter($pos) {
    @if $pos == "right" or $pos == "left" {
        margin-top: -15px;
    }
    @else {
        margin-left: -15px;
    }

    @if $pos == "top" {
        border-bottom-color: $color;
    }
    @else if $pos == "left" {
        border-right-color: $color;
    }
    @else if $pos == "bottom" {
        border-top-color: $color;
    }
    @else {
        border-left-color: $color;
    }
}

.pwa-homescreen-helper {
    z-index: 10000;
    position: fixed;
    left: 0;
    right: 0;
    background-color: white;
    border: $borderSize solid $borderColor;
    margin: 0 15px 0 15px;
    padding: 10px;
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    display: none;
    box-sizing: border-box;
}
.pwa-homescreen-helper-mask {
    position: fixed;
    height: 0;
    width: 0;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.7;
    z-index:9999;
}

body.pwa-helper-active {
    .pwa-homescreen-helper {
        display: block !important;
    }
    >:not(pwa-homescreen-helper) {
        filter: blur(1px);
    }
    .pwa-homescreen-helper {
        filter: blur(0);
    }
    .pwa-homescreen-helper-mask {
        width: 100%;
        height: 100%;
    }
}

.pwa-homescreen-helper:after, .pwa-homescreen-helper:before {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.pwa-homescreen-helper:after {
    border-color: rgba(213, 213, 213, 0);
    border-width: 15px;
}
.pwa-homescreen-helper:before {
    border-color: rgba(245, 245, 245, 0);
    border-width: 17px;
}

.pwa-firefox, .pwa-samsung {
    border-radius: 5px;
    width: 250px;
    text-align: center;
    top: 20%;
    left: 50%;
    margin-left: -125px;
    background-color: white;
    border: 1px solid #9e9e9e;
    font-size: 16px;
    opacity: 0.9;
    p {
        text-align: justify;
    }
}



.pwa-ios {
    &.pwa-homescreen-helper {
        bottom: 30px;
    }
    &.pwa-homescreen-helper:before {
        @include arrowBoxBefore("bottom");
    }
    &.pwa-homescreen-helper:after {
        @include arrowBoxAfter("bottom");
    }

    &.pwa-homescreen-helper:after, &.pwa-homescreen-helper:before {
        top: 100%;
        left: 50%;
    }
}
