.pwa-homescreen-helper {
  z-index: $helperZIndex;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  display: none;
  background-color: white;
  border: $borderSize solid $borderColor;
  padding: 20px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  color: dimgrey;
  opacity: 0.9;
}

.pwa-homescreen-helper-mask {
  position: fixed;
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.7;
  z-index: $helperZIndex - 1;
}

body.pwa-helper-active {
  .pwa-homescreen-helper {
    display: block !important;
  }
  >:not(pwa-homescreen-helper) {
    filter: blur(1px);
  }
  .pwa-homescreen-helper {
    filter: blur(0);
  }
  .pwa-homescreen-helper-mask {
    width: 100%;
    height: 100%;
  }
}

.pwa-firefox, .pwa-samsung {
  border-radius: 5px;
  width: 100%;
  max-width: 350px;
  text-align: center;
  top: 5%;
  font-size: 16px;

  p {
    text-align: justify;
  }
}

.pwa-ios {
  width: 95%;
  max-width: 620px;
  text-align: center;
  bottom: 5%;
}
